/* HEADER */
.header {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    border-bottom: 2px solid #060610;
}


.quote {
    font-weight: normal;
}


/* CREATE NEW LISTING */
.create {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

#episode-input,
#writer-input {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.underline {
    text-decoration: underline;
    color: blue;
}

/* EPISODE LISTING */
.list-title, th {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

th {
    font-size: 20px;
}

td {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.back {
    text-decoration: underline;
    color: blue;
}

/* EDIT LISTING */
#revise-episode-input,
#revise-writer-input {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.edit{
    text-decoration: underline;
    color: blue;
}

/* FOOTER */
.copyright {
    font-family: 'Oswald', sans-serif;
}
